@font-face {
  font-family: "Bentham";
  src: url("/src/assets/fonts/Bentham-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BarlowCondensed";
  src: url("/src/assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("/src/assets/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
}