@font-face {
  font-family: "Bellefair";
  src: url("/src/assets/fonts/Bellefair-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BarlowCondensed";
  src: url("/src/assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
}
