@import "./../../assets/colors/color.scss";
@import "./../../assets/fonts/index.scss";

.destination {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_background-img {
    background-image: url(./../../assets/images/background-destination-desktop.jpg);
  }

  &__block {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  &__block-title {
    text-transform: uppercase;
    font-size: 28px;
    font-family: "BarlowCondensed", sans-serif;
    color: $white;
    font-weight: 400;
    letter-spacing: 4.72px;
  }

  &__text-bold {
    font-weight: bold;
    opacity: 0.4;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 64px auto 0;
  }

  &__image {
    pointer-events: none;
    margin-top: 33px;
  }

  &__text {
    width: 445px;
  }

  &__buttons {
    width: 285px;
    height: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "BarlowCondensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    transition: all 0.225s ease-in-out;
    padding-bottom: 36px;

    &:hover {
      border-bottom: 2px solid $lightGray;
    }

    &.active {
      border-bottom: 2px solid $white;
    }
  }

  &__btn {
    color: $lightBlue;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: "BarlowCondensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    transition: all 0.225s ease-in-out;
    padding-bottom: 12px;

    &:hover {
      color: $white;
      cursor: pointer;
      border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }

    &.active {
      border-bottom: 3px solid $white;
    }
  }

  &__title {
    color: $white;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 37px;
  }

  &__subtitle {
    color: $lightBlue;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    width: 444px;
    height: 128px;
  }

  &__hr {
    border: 1px solid $veryDarkGray;
    margin: 54px 0 28px;
  }

  &__distance-block {
    display: flex;
    width: 360px;
    height: 61px;
    justify-content: space-between;
  }

  &__distance {
    width: 180px;
  }

  &__distance-title {
    color: $lightBlue;
    font-family: "BarlowCondensed", sans-serif;
    font-size: 14px;
    letter-spacing: 2.36px;
    text-transform: uppercase;
  }

  &__distance-subtitle {
    color: $white;
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 12px;
  }
}

/* Adaptive */
@media (max-width: 1450px) {
  .destination {
    &__block {
      width: 85%;
    }
  }
}

@media (max-width: 1160px) {
  .destination {
    &_background-img {
      padding-bottom: 15%;
      background-image: url(./../../assets/images/background-destination-tablet.jpg);
    }

    &__block {
      position: relative;
      top: 15%;
    }

    &__block-title {
      font-size: 20px;
      letter-spacing: 3.38px;
    }

    &__info {
      display: block;
      text-align: center;
      margin: 60px auto 60px;
    }

    &__image {
      width: 300px;
      height: 300px;
      margin-top: 0;
    }

    &__text {
      width: 573px;
      margin: 50px auto 0;
    }

    &__buttons {
      margin: 0 auto;
    }

    &__title {
      font-size: 80px;
    }

    &__subtitle {
      font-size: 16px;
      width: 573px;
      height: 84px;
    }

    &__hr {
      margin: 49px auto 0;
    }

    &__distance-block {
      margin: 30px auto 0;
    }
  }
}
