@import "./../../assets/colors/color.scss";
@import "./../../assets/fonts/index.scss";

.technology {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_background-img {
    background-image: url(./../../assets/images/background-technology-desktop.jpg);
  }

  &__block {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  &__block-title {
    text-transform: uppercase;
    font-size: 28px;
    font-family: "BarlowCondensed", sans-serif;
    color: $white;
    font-weight: 400;
    letter-spacing: 4.72px;
  }

  &__text-bold {
    font-weight: bold;
    opacity: 0.4;
  }

  &__info {
    position: relative;
    display: flex;
    width: 100%;
    height: 527px;
    justify-content: space-between;
    margin: 26px auto 0;
  }

  &__block-buttons {
    margin-top: 110px;
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btn {
    width: 80px;
    height: 80px;
    color: $white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    font-family: "Barlow", sans-serif;
    font-size: 32px;
    transition: all 0.225s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $white;
    }

    &.active {
      background-color: $white;
      color: $darkBlue;
    }
  }

  &__block-info {
    margin-top: 110px;
    width: 470px;
  }

  &__pretitle {
    font-family: "BarlowCondensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $lightBlue;
  }

  &__title {
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 52px;
    color: $white;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__subtitle {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 2rem;
    color: $lightBlue;
    margin-top: 15px;
  }
}

/* Adaptive */
@media (max-width: 1450px) {
  .technology {
    &__block {
      width: 90%;
    }

    &__block-info {
      width: 450px;
    }

    &__image {
      width: 450px;
      height: 450px;
    }
  }
}

@media (max-width: 1160px) {
  .technology {
    &_background-img {
      padding-bottom: 10%;
      background-image: url(./../../assets/images/background-technology-tablet.jpg);
    }

    &__block {
      position: relative;
      width: 100%;
      top: 15%;
    }

    &__block-title {
      margin-left: 5%;
    }

    &__info {
      flex-direction: column-reverse;
      height: auto;
    }

    &__image {
      width: 80%;
      height: 310px;
      margin: 0 auto;
    }

    &__block-buttons {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, 0);
      flex-direction: row;
      width: 210px;
      height: 60px;
    }

    &__btn {
      width: 60px;
      height: 60px;
      font-size: 24px;
    }

    &__block-info {
      width: 458px;
      text-align: center;
      margin: 160px auto 40px;
    }

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }
}

@media (max-width: 940px) {
  .technology {
    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 680px) {
  .technology {
    &_background-img {
      padding-bottom: 0;
    }

    &__block {
      top: 10%;
    }

    &__block-title {
      margin-left: 0;
      text-align: center;
      font-size: 16px;
    }

    &__image {
      height: 230px;
    }

    &__block-buttons {
      top: 25%;
      width: 212px;
      height: 60px;
    }

    &__btn {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
  }
}

@media (max-width: 540px) {
  .technology {
    &__block-buttons {
      height: 40px;
      width: 152px;
      top: 20%;
    }

    &__btn {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

    &__block-info {
      margin: 120px auto 40px;
      width: 350px;
    }

    &__pretitle {
      font-size: 14px;
    }

    &__title {
      font-size: 24px;
    }

    &__image {
      height: 190px;
    }
  }
}
