@import "./../../assets/colors/color.scss";
@import "./../../assets/fonts/index.scss";

.home {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_background-img {
    background-image: url(./../../assets/images/background-home-desktop.jpg);
  }

  &__info {
    width: 75%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 165px;
  }

  &__text {
    width: 445px;
  }

  &__pretitle {
    color: $lightBlue;
    font-family: "BarlowCondensed", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4.72px;
  }

  &__title {
    color: $white;
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 150px;
    padding: 24px 0 16px 0;
  }

  &__subtitle {
    color: $lightBlue;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 32px;
  }

  &__explore-link {
    margin-top: 100px;
    padding: 60px;
    color: $darkBlue;
    background-color: $white;
    border-radius: 100%;
    font-family: "Bellefair", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.225s ease-in-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 1px 80px rgba(255, 255, 255, 0.15);
    }
  }
}

/* Adaptive */
@media (max-width: 1160px) {
  .home {
    &_background-img {
      background-image: url(./../../assets/images/background-home-tablet.jpg);
    }

    &__info {
      display: block;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &__text {
      text-align: center;
      margin: 0 auto;
    }

    &__pretitle {
      font-size: 20px;
    }

    &__title {
      padding: 24px 0;
    }
    
    &__subtitle {
      font-size: 16px;
    }

    &__explore-link {
      width: 120px;
      height: 120px;
      margin: 80px auto 0;

      &:hover {
        box-shadow: 0 0 1px 60px rgba(255, 255, 255, 0.15);
      }
    }
  }
}

@media (max-width: 680px) {
  .home {

    &__info {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .home {

    &__text {
      width: 320px;
    }

    &__pretitle {
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    &__title {
      font-size: 80px;
    }

    &__explore-link {
      padding: 40px;
      font-size: 24px;
      margin: 100px auto 0;
    }
  }
}
