@import "./../../assets/colors/color.scss";
@import "./../../assets/fonts/index.scss";

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 96px;
  top: 0;
  right: 0;
  margin-top: 40px;

  &__logo-link {
    height: 48px;
    margin-top: 24px;
  }

  &__logo-btn {
    background-image: url(./../../assets/images/logo.svg);
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__block {
    display: flex;
  }

  &__line {
    position: absolute;
    z-index: 2;
    width: 473px;
    height: 1px;
    background-color: $darkGray;
    top: 48px;
    right: 800px;
    border: none;
  }

  &__links {
    display: flex;
    position: relative;
    z-index: 1;
    list-style: none;
    width: 542px;
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(15px);
    justify-content: space-between;
    align-items: center;
    padding-left: 123px;
    padding-right: 165px;
  }

  &__link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "BarlowCondensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    transition: all 0.225s ease-in-out;
    padding-bottom: 36px;

    &:hover {
      border-bottom: 2px solid $lightGray;
    }

    &.active {
      border-bottom: 2px solid $white;
    }
  }

  &__bold-link {
    font-weight: bold;
  }
}
